<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
    <app-recipe-item
    *ngFor="let recipeEl of recipes; let i = index"
    [recipe]="recipeEl"
    [index]="i" (click)="onEditItem(i)" [isShoppingCartView]=true></app-recipe-item>
        </div>
    </div>
    <!-- <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let recipe of recipes; let i = index"
        (click)="onEditItem(i)"
      >
        {{ recipe.name }} ({{ recipe.description }})
      </a>
    </ul> -->
  </div>
</div>
