<div class="row">
  <div class="col-xs-4"><label>Select Meal Type: </label></div>
<div class="col-xs-8">
    <div class="col-xs-1"><input name="options" ng-control="options" type="radio" [value]="1" checked="checked"   (change)="getRecipe('Veg')"></div>
    <div class="col-xs-2"> <label>Veg</label></div>
    <div class="col-xs-1"><input name="options" ng-control="options" type="radio" [value]="1"  (change)="getRecipe('Non-Veg')" ></div>
    <div class="col-xs-4"> <label>Non-Veg</label></div>
</div>
</div>